{# app/Resources/views/index.html.twig #}

{% extends 'base.html.twig' %}
{%  set bodyClass = 'index' %}
{% block menu %}
    <div class="menu">
        {% for cat, operationsInCat in operations %}
            {% if operationsInCat|length >0 %}
                <span class="menuCat" data-cat="{{ cat | replace({ 'è':'e', 'é':'e', 'ê':'e', ' ':'-' }) }}">{{ cat|upper }}</span>
            {% endif %}
        {% endfor %}
    </div>
{%  endblock %}
{% block body %}
    <section class="categories">
        <div id="operations-items">
            {% for cat, operationsInCat in operations %}
                {% if operationsInCat|length >0 %}
                <div class="categorie" id="{{ cat | replace({ 'è':'e', 'é':'e', 'ê':'e', ' ':'-' })}}">
                    <h2>{{ cat }}</h2>
                    <div class="operations">
                        {% for ope in operationsInCat %}
                            <div class="operation-item">
                                <a href="/operation/{{ ope.slug }}">
                                    <figure>
                                        <img src="{{ asset(image_dir ~ 'operations/' ~ ope.visuel) | imagine_filter('slide')  }}"alt="{{ ope.titre }}"/>
                                    </figure>
                                </a>
                                <strong>{{ ope.titre }}</strong><br>
                                {% if ope.dateDebut|date('Y') != '1970' or ope.dateFin|date('Y') != '2100' %}
                                    <span class="gris">{% if ope.dateDebut|date('Y') != '1970' %}{{ ope.dateDebut|date('d/m') }} {% else  %}... {% endif %} >
                                    {% if ope.dateFin|date('Y') != '2100' %}{{ ope.dateFin|date('d/m') }} {% else  %}...{% endif %}</span>
                                {%  endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if opeAlaune %}
        <div class="nouveaute">
            <h2>Nouveauté</h2>
            <a href="/operation/{{ opeAlaune.slug }}" class="alaune">
                <figure >
                    <img src="{{ asset(image_dir ~ 'operations/' ~ opeAlaune.visuel) | imagine_filter('slide')  }}"alt="{{ opeAlaune.titre }}"/>
                </figure>
                <div class="bloc">

                    <div class="title_dates">
                        <h4>{{ opeAlaune.titre }}</h4><br>
                        <div class="dates">
                            <span class="smallcaps">du</span><br>{{ opeAlaune.dateDebut|date('d/m') }}<br>
                            <span class="smallcaps">au</span><br>{{ opeAlaune.dateFin|date('d/m') }}
                        </div>

                    </div>
                    <div class="marques">
                        {% for marque in opeAlaune.marques %}
                            <figure class="logo">
                                <img src="{{ asset(image_dir ~ 'marques/' ~ marque.logo)   }}"alt="{{ marque.nom }}"/>
                            </figure>
                        {% endfor %}
                    </div>

                </div>
            </a>
        </div>
        {% endif %}
    </section>
{% endblock %}

